/* Center area */

#center_window {
    width: calc(100% - 42px);
    float: left;
    margin-top: 20px;
    padding: 0 1px;
}

.buttons_line {
    margin-left: 20px;
}

.orange_button {
    display: block;
    float: left;
    color: white;
    background-color: #ff9740;
    text-align: center;  
    padding: 8px 15px 0 15px;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1.2em;
    height: 22px;
}

.blue_button {
    box-sizing: border-box;
    display: block;
    float: left;
    color: #515F6A;
    background-color: #f5f9fc;
    text-align: left;  
    padding: 8px 0 0 15px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1.1em;
    height: 30px;
    width: 120px;
}

.orange_button:hover, .blue_button {
    cursor: pointer;
}

.s_button {
    font-size: 1.8em;
}

.buttons_line p {
    display: inline-block;
    float: left;
    margin: 0 10px;
    padding-top: 8px;
    font-size: 1.1em;
    height: 30px;
    color: #393945;
}

/* Inputs */

.buttons_line input {
    box-sizing: border-box;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    margin-right: 10px;
    padding-left: 5px;
    font-size: 1.1em;
    width: 100px; 
    float: left;
    color: #393945;
}

/* Custom Select */

.cash_ob_select {
    float: left;
    width: 150px;
}

.cash_ob_select select {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 1.1em;
    color: #393945;
    background: transparent;
    padding-left: 5px;
    height: 30px;
}
.style-input{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 1.1em;
    color: #393945;
    background: transparent;
    padding-left: 5px;
    height: 30px;
}
.cash_ob_select {
    display: block;
    float: left;
    height: auto;
    overflow: hidden;
    background: url(../img/new_arrow.png) no-repeat right white;
    border-radius: 5px;
}

/* hide default arrow in IE */
.styled-select select::-ms-expand {
    display: none;
}

#available_points {
    margin-right: 100px;
}

#pts_to_rm {
    margin: 0;
}

#iframes_wrapper {
    margin-top: 20px;
}

/* Table header - item collection */

.table_head, #table_body {
    width: 100%;
    text-align: center;
    color: #434343;
    border-spacing: 1px;
}

.table_head tr td {
    background-color: #f8f8f8;
    padding: 8px 0;
    font-weight: bold;
}

/* iframe */

#page07_first_table, #page07_second_table {
    width: 100%;
    height: 125px;
}

/* Table body */

#table_body tr td {
    padding: 8px 0;
}

#cash_value {
    text-align: left;
    padding-left: 40px;
    font-weight: bold;
}

#second_table {
    width: 100%;
    text-align: left;
    color: #434343;
    border-spacing: 1px;
}

#second_table tr td {
    padding: 2px 0;
}

.date_cell {
    padding-left: 40px !important;
}

.price_cell {
    text-align: right;
    padding-right: 10px !important;
}