/*.mac .header .nav ul li a {
	font-size: 17px;
}
.mac .center-block .boxes .box p {
	font-size: 25px;
}
.mac .center-block .boxes .box .text-first-block {
	font-size: 18px;
}
.mac .block-text .main-text {
	font-size: 20px;
}
.mac .block-text h1 {
	font-size: 40px;
}
.mac .block-text .rigth-text {
	font-size: 26px;
}
.mac .slider-two .item .slide-content h1 {
	font-size: 52px;
}
.mac .slider-two .item .slide-content p, .slider-two .item .slide-content .block-buttom .text {
	font-size: 20px;
}
.mac .title-video .title-video-wrap p {
	font-size: 30px;
}
.mac .video .text p {
	font-size: 19px;
}
.mac .slider-two .button-slider, .mac .diag-button {
	font-size: 21px;
}
.mac .rl-block p {
	font-size: 30px;
}
.mac .people .wrap .boxes .box .hide-block p, .mac .people .wrap .boxes .box2 .hide-block p, .mac .people .wrap .boxes .box3 .hide-block p {
	font-size: 21px;
}
.mac .form .wrap-form .left-block p {
	font-size: 20px;
}
.mac .footer .wrap-footer .right .nav1 ul li a {
	font-size: 18px;
}
.mac .footer .wrap-footer .text-footer, .mac .footer .wrap-footer .text-footer a {
	font-size: 17px;
}
.mac .sub-footer .wrap-sub-footer .copy {
	font-size: 16px
}
.mac .text-b {
	font-size: 30px;
}
.mac .block-bottons .button-b li a {
	font-size: 25px;
}
.mac .block-post .wrap-post .text-post .text1 {
	font-size: 26px;
}
.mac .block-post .wrap-post .text-post .text2 {
	font-size: 20px;
}
.mac .head-personal.rl-head .right-text-img p {
	font-size: 45px;
}
.mac .service-temp-block .st-text span, .mac .service-temp .service-temp-line {
	font-size: 34px;
}
.mac .service-temp-block .st-text {
	font-size: 21px;
}
.mac .service-temp-block .st-text {
	font-size: 23px;
}*/